h2{
	text-align: center;
	color: crimson;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tbody tr:nth-child(even){
	background-color: lightgrey;
}
tbody tr>:nth-child(11){
	color: crimson;
	text-align: right;
}
tfoot tr>:nth-child(10){
	color: crimson;
	text-align: right;
}
thead{
	background-color: teal;
	color: white;
	text-align: center;
}

tfoot{
	background-color: gold;
}

tfoot th:nth-child(1){
	text-align: left;
}
